@charset "UTF-8";

body{
    margin-top: 25vh;
    background-color: rgb(32, 135, 224);
    font-family: Arial, Helvetica, sans-serif;
}

#login{
    border: 2px solid black;
    height: 400px;
    width: 350px;
    background-color: rgb(255, 255, 255);
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 15px;
}

#email{
    border: 2px solid rgb(131, 130, 130);
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #e4e0e0;
}

#email:focus{
    border: 2px solid rgb(0, 0, 0);
}

#password{
    border: 2px solid rgb(131, 130, 130);
    margin-top: 10px;
    display: flex;
    width: 200px;
    height: 30px;
    background-color: #e4e0e0;
}

#password:focus{
    border: 2px solid rgb(0, 0, 0);
}

#button-submit{
    border-radius: 10px;
    margin-top: 10px;
    display: flex;
    justify-content: center;
    width: 210px;
    background-color: rgb(32, 135, 224);
    padding: 10px;
    color: #fff;
    font-weight: bold;
    cursor: pointer;
}

#button-submit:hover {
    background-color: rgb(24, 102, 170);
}

.login-word{
    margin-top: 50px;
    font-size: 32px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: rgb(88, 88, 247);
}

a:hover {
    text-decoration: underline;
}
